body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.titulo-marvel {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  text-align: center;
  color: #e62429;
  margin-top: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.imagem-destaque {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.banner-img {
  max-height: 800px;
  width: auto;
  display: block;
  margin: 0 auto;
}


.bg-hero { background-color: #02111a; color: white; }
.bg-sobre-heroi { background-color: #ffcc00; color: #2d3436; }
.bg-galeria { background-color: #0b9650; color: white; }
.bg-historias { background-color: #e74c3c; color: white; }
.bg-contato { background-color: #0a588b; color: white; }

.menu {
  background-color: #222;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  list-style: none;
}

.menu a {
  color: #f1c40f;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Lobster', cursive;
}

.menu a:hover {
  color: #e67e22;
}

.imagem-destaque {
  background-image: url('img/banner_hero.png');
  background-size: cover;
  height: 300px;
  filter: brightness(0.5);
}

.footer {
  background-color: #222;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer .icones img {
  width: 30px;
  margin: 0 5px;
}

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  margin: 20px;
}

.texto {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  margin: 20px;
}

.icones img {
  width: 30px;
  margin: 0 10px;
}